flask
flask-cors
spacy>=3.8.5
scikit-learn
sentence-transformers
requests
werkzeug
gunicorn
https://download.pytorch.org/whl/cpu/torch-2.6.0%2Bcpu-cp311-cp311-linux_x86_64.whl
beautifulsoup4
reportlab